<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify</title>
  </head>
  <body>
    <img
      src="https://img.freepik.com/free-vector/enter-otp-concept-illustration_114360-7887.jpg?w=1380&t=st=1692581032~exp=1692581632~hmac=f88b5fd76264f25f3d803dc4b60c0338483a8694d8087a176e27fd3107d19c81"
      width="300px"
      height="300px"
      alt=""
    />
    <p>Silakan klik link dibawah untuk melakukan verify account.</p>
    <a href="{{link}}">Verify Account</a>
  </body>
</html>
